* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

img {
    max-width: 100%;
}

:root {
    font-size: 16px;
    --main-color: #fff6f6;
    --second-color:  #f4aaaa;
    --third-color: #fffdfd;
    --font-color: #CE9898;
    --second-font-color: #423A3A;
    --font-family:  'Josefin Sans', serif;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    max-width: 375px;
    overflow-x: hidden;
}
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* type */
h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 10.83px;
    color: var(--second-font-color);
    text-transform: uppercase;
    text-align: center;
}

h1 span {
    color: var(--font-color);
    font-weight: 300;
}

p {
    line-height: 22px;
}

/* header */


.header {
    background-color: var(--third-color);
}

.header img {
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* main image */

.main-image {
    height: 250px;
    width: 376px;
    background: url(/images/hero-mobile.jpg) no-repeat;
    margin-bottom: 64px;
}

h1 {
    margin-bottom: 16px;
}

p {
    font-size: 14px;
    width: 311px;
    align-self: center;
    text-align: center;
    margin-bottom: 32px;
}
form {
    align-self: center;
}

input {
    width: 311px;
    border-radius: 28px;
    border: 1px solid var(--font-color);
    margin-left: 64px;
    background: var(--main-color);
    text-indent: 24px;
}

input::placeholder {
    text-indent: 24px;
    color: var(--font-color);
}

.btn {
    position: relative;
    right: 65px;
    background: var(--second-color);
    width: 64px;
    height: 48px;
    border-radius: 28px;
    border: none;
    box-shadow: 0px 15px 20px 0px #C66E6E3F;
    
}

.error-div {
    margin-top: 50px;
    margin-left: 57px;
    margin-bottom: 92px;
    position: relative;
    bottom: 47px;
    color: #F96464;
    font-size: 13px;
}

.error-text {
    margin: 0;
    text-align: left;
}

.error-icon {
    position: relative;
    bottom: 62px;
    left: 190px;
}

/*Desktop View*/

@media only screen and (min-width: 1000px) {
    
    body {
        height: 100vh;
        justify-content: center;
    }

    .container {
        max-width: 100%;
        height: 800px;
        align-self: center;
        justify-self: center;
        overflow-y: hidden;
    }

    main {
        display: grid;
        grid-template-columns: 788px 610px;
        grid-template-rows: 158px 670px;
        grid-template-areas:
        "header image"
        "text image";
        background:
        url(./images/bg-pattern-desktop.svg) no-repeat top left;
        background-color: linear-gradient(221.42deg, #FFF1F1 2.6%, #FFFFFF 96.36%);
    }

    .header {
        grid-area: header;
        background-color: transparent;
        padding-left: 165px;
    }

    .main-image {
        grid-area: image;
        background: url(images/hero-desktop.jpg) no-repeat;
        min-height: 100vh;
        margin: 0px;
        min-width: 610px;
        min-height: 800px;
    }

    .text {
        grid-area: text;
        padding-right: 220px;
        padding-left: 165px;
        display: flex;
        align-items: center;
    }

    input {
        width: 403px;
    }

    .error-icon {
        position: relative;
        bottom: 67px;
        left: 275px;
    }

    /* type */
h1 {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.32px;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    margin-left: 0;
    width: 403px;
}

}